<form #proposalDetailForm="ngForm">  
  <div class="form-group row mt-3">
    <div class="col-sm-3">
      <label class="col-form-label">proposer</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" id="proposer" required [(ngModel)]="Model.proposer" name="proposer">
    </div>
  </div>
  <div class="form-group row mt-1">
    <div class="col-sm-3">
      <label class="col-form-label">Proposal Date</label>
    </div>
    <div class="col-sm-9">
      <mat-form-field>
        <input matInput [matDatepicker]="proposalDate" id="proposalDate" required [(ngModel)]="Model.proposalDate" name="proposalDate">
        <mat-datepicker-toggle matSuffix [for]="proposalDate"></mat-datepicker-toggle>
        <mat-datepicker #proposalDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <app-service-type #proposalServiceType (OnServiceTypeAdded)="onProposalServiceTypeAdded($event)"></app-service-type>
  <div class="container-fluid">
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Proposal Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Model?.serviceTypes;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.proposalAmount}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-custom-footer">
    <div class="col-sm-12 mt-2">
      <button type="button" class="btn float-right" [ngClass]="{'btn-success':proposalDetailForm.form.valid,'btn-danger':!proposalDetailForm.form.valid}"
        [disabled]="!proposalDetailForm.form.valid" (click)="onSubmit(true)">Add</button>
      <button type="button" class="btn float-right" [ngClass]="{'btn-success':proposalDetailForm.form.valid,'btn-danger':!proposalDetailForm.form.valid}"
        [disabled]="!proposalDetailForm.form.valid" (click)="onSubmit(false)">Add and Close</button>
    </div>
  </div>
</form>