@import "functions";
@import "variables";
@import "mixins";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext');
// body {
//   margin: 0; // font-family: 'Roboto', sans-serif;
//   font-family: 'Noto Sans', sans-serif;
//   font-size: .85em;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #212529;
//   text-align: left;
//   background-color: #fff;
// }
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// body {
//   background-color: black;
// }
.osgb-top {
  margin-top: 75px;
}
.osgb-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
input.ng-valid[required],
input.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}
input.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
.modal-custom-footer {
  border-top: 1px solid #e9ecef;
}
.cdk-overlay-container{
  z-index: 1300;
}